/**
 * Challenge theme variables, separated for clarity.
 *
 * This is where I have extended the _s theme bootstrap to style the layouts for the Challenge theme.
 *
 */

// Mixins
@mixin box-shadow( $x, $y, $blur, $spread, $color ) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

.page-id-7 #masthead,
.page-id-7 header {
  display: none;
}
// make the thumbnail full width across header.
.banner {
  img {
    width: 100%;
    height: auto;
    margin:0;
  }
}
@media screen and (max-width: 720px) {
  .banner img.wide {
      display:none;
  }
}
@media screen and (min-width: 720.1px) {
  .banner img.narrow {
      display:none;
  }
}

// sort out mobile version of header.
// TODO

.entry-footer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
}

#colophon {
  padding: 3em 0;
  background:#f1f1f1;
  .site-info {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}
.page {
  margin-bottom: 0;
}
.site-content {
  background: rgb(247, 247, 247);
}
.entry-content {
  margin-top: 0;
  padding: 2em 1.5em;
  background: rgb(247, 247, 247);
  .content-wrap {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
  .wpcf7,
  .faq-wrapper {
    padding: 5vw 1.5em;
    a {
      color: unset;
    }
  }
  .wpcf7 {
    margin-top: 5vw;
    @include box-shadow( 1px, 1px, 5px, 0px, rgba(51,51,51,0.15) );
    background: #fbfbfb;

    a {
      color: unset;
    }
  }
}

h1, h2, h3, p {
  &.center {
    text-align: center;
  }
  padding: 0 0;
  margin: 0 0;
  color: black;
}
h1 {
  font-weight: bold;
  font-size: 43px;
}
h2 {
  font-weight: semi-bold;
  font-size: 26px;
}
p {
  font-size: 14px;
  &.lead {
    padding: 2em 0 3.5em;
    font-size: 16px;
    font-weight: 500;
  }
}

form {
  max-width: 800px;
  margin: 0 auto;
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
    label {
      margin-top:0.5em;
      padding-bottom: 0.7em;
      font-weight: 600;
      span,
      span input,
      span select {
        margin-top: 0.5em;
        width: 100%;
      }
    }
    label:not(.half) {
      width: 100%;
    }
    .half {
      flex: 0 1 48%;
    }
    .required {
      color: #ef2f24;
    }
  }
}

@media screen and (max-width: 720px) {
  form .row {
    flex-wrap: wrap;
    .half {
      flex: 0 1 100%;
      width: 100%;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  // color: $color__text-input;
  // border: 1px solid $color__border-input;
  border-radius: 7px;
  border-width: 2px;
  padding: 0.5em;
  font-size: 16px;
  &:focus {
    // color: $color__text-input-focus;
  }
}

/**
 * styling for codedropz drag and drop file upload
 */
 .codedropz-upload-wrapper {
  margin-top: 0.5em;
  color: #5b5b5b;
}
.codedropz-upload-container {
  padding: 5em 0;
  background: #f4f4f4;
}
.codedropz-btn-wrap {
  margin: 1em 0;
}
.cd-upload-btn {
  vertical-align: middle;
  padding:0.4em 1.5em;
  background:#f4f4f4;
  border: #575757 2px solid;
  border-radius: 7px;
  color: #5b5b5b;
}
input.btn {
  padding: 0.8em 3.5em;
  font-size: 18px;
  font-weight: 600;
  background: #f4f4f4;
  text-transform: uppercase;
  border-radius: 7px;
  border-width: 2px;
  border-color: darken(#575757, 20%) !important;
  color: #373737;
  text-shadow: darken(#f4f4f4, 10%) 1px 1px 0;
  &:hover {
    background: darken(#f4f4f4, 10%);
    border-color: darken(#575757, 30%) !important;
  }
}

.pt-1 {
  padding-top: 1em;
}
// stops loader pushing submit button back to left
span.ajax-loader {
  order: -1;
}

// acceptance checkbox styling
.wpcf7-acceptance {
  .wpcf7-list-item {
    display: block;
    margin-left: 0.25em;
    margin-top: 0.75em;
  }

  span.checkbox-custom {
    padding-right: 1em;
  }

  label {
    position: relative;
    cursor: pointer;
  }

  input[type=checkbox] {
    position: relative;
    visibility: hidden;
  }

  input[type=checkbox] + span:before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 5px;
    height: 16px;
    width: 16px;
    top: 0px;
    border: 2px solid #222;
  }

  input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: '\2713';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: -4px;
    left: 2px;
    visibility: hidden;
    font-size: 16px;
  }

  input[type=checkbox]:checked + span:before {
    background: transparent;
  }

  input[type=checkbox]:checked + span:after {
   visibility: visible;
 }
}
// CF7 response styling
div.wpcf7-response-output {
  margin: 3em 0;
  padding: 2.5em 1.5em;
  border:2px solid rgba(227, 27, 44, 0.7);
  border-radius: 7px;
  &.wpcf7-mail-sent-ok {
    border-color: rgba(0, 0, 0, 0);
    padding: 2em 0 3.5em;
    font-size: 16px;
    font-weight: 500;
  }
}
.wpcf7 form.sent .form-section {
  display: none;
}

// codedropz dnd file uploader styling
form span {
  .dnd-progress-bar,
  .dnd-icon-blank-file {
    margin-top: 0;
  }
}